<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.Sist_RifasConnectionString"
      connectionString="Data Source=maquis;Initial Catalog=Sist_Rifas;User ID=avisuales1;Password=avisuales1"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.RifasConnectionString"
      connectionString="Data Source=desktop-dj8dp2j\sqlexpress;Initial Catalog=Rifas;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="conexionBD"  value="Data Source=ERIK-PC;Initial Catalog=Rifas;Integrated Security=True" />
  </appSettings>
</configuration>